mat-toolbar {
  padding-left: 680px;
  background-color: #3f51b5;
  color: #fff;
}

/deep/ .mat-form-field[_ngcontent-c6] {
  width: 95%;
}

/deep/ .mat-tab-body-content {
  padding: 20px;
}

/deep/ .form-group {
  width: 80%;
  display: flow-root;
  margin: 0 auto;
  align-content: center;
}

.material-icons {
  margin-right: 5px;
}

/deep/ .mat-tab-body-content > #flights {
  background-color: blue;
}
