<p>
  Hi Mom! In case you see this before I have a chance to explain what I want to do with this here's my plan:
</p>

<ul>
  <li>Have this page hooked up to the other pages</li>
  <li>this will basically be a summary!</li>
  <li>When they press the "submit" button, The welcome page will be updated with the information they have given.</li>
  <li>I love you! I'm leaving for my movie now :) </li>
  <li>P.S. This only took me a minute to do so if this is a bad idea I won't be upset about taking it out!</li>
</ul>